body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.5;
  color: #525f7f;
  background-color: #1e1e2f;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: rgb(129, 129, 129);
  font-weight: 700;
  cursor: pointer;
}